<section>
	<div class="duckbump-about-the-game">
		<h4 class="duckbump-label">Development</h4>
		<p class="duckbump-text">Duckbump was developed using the <a href="http://www.java.com">Java</a> programming language and the <a href="http://www.greenfoot.org">Greenfoot </a>framework. The font for the game and website come from Joiro Hatagaya's <a href="http://www.dafont.com/8bit-wonder.font">8-BIT font</a>. Development of Duckbump started early September, 2014.</p>
		<h4 class="duckbump-label">Future Work</h4>
		<p class="duckbump-text">While the game is in early stages of development, there is high hope for continued development and game advancement. By the end of the year, we hope to have a fully functioning android version of the game, with hopes of an ios version to follow.</p>
	</div>
</section>