<section>
<div>
	<div class="duckbump-header">
		<h1 class="duckbump-brand">DuckBump</h1>
		<ul class="nav duckbump-nav">
			<li ng-class="{ active:tabCtrl.isSet(1) }"><a href ng-click="tabCtrl.setTab(1)">Home</a></li>
			<li ng-class="{ active:tabCtrl.isSet(2) }"><a href ng-click="tabCtrl.setTab(2)">How To Play</a></li>
			<li ng-class="{ active:tabCtrl.isSet(3) }"><a href ng-click="tabCtrl.setTab(3)">Characters</a></li>
			<li ng-class="{ active:tabCtrl.isSet(4) }"><a href ng-click="tabCtrl.setTab(4)">About</a></li>
		</ul>
	</div>
	
	<duckbump-home ng-show="tabCtrl.isSet(1)"></duckbump-home>
	<duckbump-howtoplay ng-show="tabCtrl.isSet(2)"></duckbump-howtoplay>
	<duckbump-characters ng-show="tabCtrl.isSet(3)"></duckbump-characters>
	<duckbump-about ng-show="tabCtrl.isSet(4)"></duckbump-about>
	</div>
	
	<div class="duckbump-footer">
		<p>Game created by <a href="https://plus.google.com/113147628014887499425/">Jonathan Southworth</a></p>
		<p>Webpage created by <a href="http://github.com/jrasm91">Jason Rasmussen</a></p>
	</div>
	
		<div style="clear: both"></div>

</section>